.position__top {
  position: absolute;
  top: 20px;
  left: 50%;

  transform: translate(-50%, -40%) rotate(270deg);

  & svg {
    transform: rotate(90deg);
  }
}

.position__bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;

  transform: translate(-50%, 40%) rotate(270deg);

  & svg {
    transform: rotate(90deg);
  }
}

.position__left {
  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);
}

.position__right {
  position: absolute;
  top: 50%;
  right: 20px;

  transform: translateY(-50%);
}

.laptop__mode {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.laptop__mode .iPhone-active-btn {
  background: var(--ril-control-bg);
  padding: 0;
  margin: 0;

  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 0;

  cursor: pointer;
}
