.ril-root {
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ril-iphone {
  position: relative;

  background-image: url("../../assets/iPhone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  aspect-ratio: 256 / 538;
  height: var(--iphone-size);
}

.ril-client-area {
  position: absolute;
  bottom: 9.17%;
  left: 3.2%;
  right: 2.65%;
  top: 10.3%;

  z-index: 32;
  background-color: #fff;

  overflow-x: hidden;
}

.ril-status-bar {
  display: block;
  width: 100%;
  background-color: #fff;
  overflow: hidden;

  z-index: 9999;
  position: sticky;
  top: 0;
}

.ril-utility-container {
  position: absolute;
  left: 50%;
  bottom: calc(2% + (var(--iphone-size) - 80%) * 0.025);
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 24px;
}

.ril-utility-container .ril-btn-size-down,
.ril-utility-container .ril-btn-size-up {
  background-color: transparent;
  border: 1px solid #8691a2;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  color: #fff;
  font-size: 24px;

  cursor: pointer;
}
