.description {
  padding-top: 120px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .message {
    text-align: center;
  }

  .info {
    text-align: center;

    .label {
      margin-right: 8px;
    }
  }
}
